@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300&family=Source+Sans+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body{
    /* background: linear-gradient(120deg, #2980b9, #8e44ad); */
    /* background-image: url(./img/bg.jpg); */
    background-color: #dde5f4;
    font-family: 'Poppins';
    /* #ea4c89  #dde3f5 #dde5f4 #bfe6e0*/
    /* font-family: 'Epilogue',sans-serif; */
    /* font-family: 'Source Sans Pro', sans-serif; */
}

/* container */
.container{
    display: flex;
    height: 400px;
    width: 600px;
    margin: auto;
    margin-top: 50px;
    box-shadow: 15px 15px 20px grey;
    border-bottom: 1px solid grey;
    border-radius: 25px;
}

/* Form login */
.form{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    background-color: #f2f8fd;
    margin: auto;
    padding: 10px;
    border-radius: 25px;
}

.form h2 {
    font-size: 1.5rem;
    font-family: 'Poppins';
    margin: 40px;
    margin-top: 45px;
}

.insert{
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    width: 80%;
}

.yourText{
    text-align: center;
}

.theLabel {
    text-align: left;
}

.box{
    padding: 12px;
    width: 100%;
    margin: 15;
    margin-left: 0;
    /* outline: none; */
    border-radius: 10px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0, 0, 0, 0.06);
}

.tit{
    border-bottom: 1px solid black;
}

.theOne{
    width: 40%;
}

.theButton{
    display: flex;
    width: 100%;
}

#submit, .login {
    padding: 12px 30px;
    width: 100%;
    margin-top: 12px;
    background-color: #3e4685;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 18px;
    color: whitesmoke;
    box-shadow: #3e4685 0 0 0 1.5px inset,
    rgba(45, 35, 66, .4) 0 2px 4px,
    rgba(45, 35, 66, .3) 0 7px 13px -3px,
    #3e4685 0 -3px 0 inset;
}

#submit, .register {
    padding: 12px 30px;
    width: 40%;
    margin-top: 20px;
    background-color: #2ecc71;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 12px;
    color: whitesmoke;
    box-shadow: #2ecc71 0 0 0 1.5px inset,
    rgba(45, 35, 66, .4) 0 2px 4px,
    rgba(45, 35, 66, .3) 0 7px 13px -3px,
    #2ecc71 0 -3px 0 inset;
}

#submit, .login:hover{
    cursor: pointer;
    background-color: #505682;
}

#submit, .register:hover{
    cursor: pointer;
    background-color: #27ae60;
}

.form a {
    text-decoration: none;
    color: black;
    margin-top: 20px;
}

.form a:hover{
    color: #3e4685;
}

/* side */
.side{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 50%; */
    /* background-image: url(./img/1.jpg); */
    width: 400px;
    background-size: 100%;
    background-repeat: no-repeat;
    /* height: 100vh; */
    /* height: 100px; */
    background-color: aquamarine;
}

.side img {
    width: 450px;
    height: 450px;
}